[submodule "libs/android-inline-hook"]
	path = libs/android-inline-hook
	url = https://github.com/bytedance/android-inline-hook
[submodule "libs/Dobby"]
	path = libs/Dobby
	url = https://github.com/jmpews/Dobby
